name = "api-worker"
main = "src/worker.ts"
compatibility_date = "2025-02-08"
account_id = "98bf0ea109e2716bbaa26317ecdd8c70"

# preview_id = "c601ff5be7ea40ff9a7ae183a0f621cd"
kv_namespaces = [
  { binding = "OAUTH_STORE", id = "d01dc81d05134974a18a03129e7c5470"}, 
]

[observability]
enabled = true
head_sampling_rate = 1 

[[routes]]  
pattern = "api.asitanokibou.site"
custom_domain = true
zone_id = "578ea85456cdce1b241ad8584a088313"

[[routes]]  
pattern = "api.asitanokibou.xyz"
custom_domain = true
zone_id = "55fea92d37a88744f6e4aeb688d4ab83"


[vars]
BDPAN_REDIRECT_URI = "https://v.asitanokibou.xyz/yunpan/authorized"
DEFAULT_WS_TARGET = 'wss://www.asitanokibou.xyz/ws'
